* {
  margin: 0;
  padding: 0;
}
.all {
  background-color: #f9fcff;
  .navbar {
    padding-top: 20px;
    justify-content: space-around;
    display: flex;
    .logo {
      @media (max-width: 350px) {
        text-align: start;
        margin-left: -50px;
      }
      width: 20%;
    }
    ul {
      @media (max-width: 350px) {
        display: none;
      }
      width: 60%;
      list-style: none;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
    }
    i {
      display: none;
      @media (max-width: 350px) {
        display: block;
        padding-top: 10px;
        font-size: 25px;
      }
    }
  }
  .level1 {
    @media (max-width: 350px) {
      flex-wrap: wrap;
    }
    padding-top: 100px;
    justify-content: space-evenly;
    display: flex;
    .left {
      @media (max-width: 350px) {
        width: 100%;
        padding-left: 20px;
      }
      padding-left: 50px;
      width: 45%;
      h1 {
        @media (max-width: 350px) {
          font-size: 24px;
          width: 100%;
        }
        font-size: 40px;
        span {
          color: #226699;
        }
        color: #093636;
        width: 80%;
        font-family: Arial, Helvetica, sans-serif;
      }
      p {
        @media (max-width: 350px) {
          font-size: 18px;
          width: 100%;
        }
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color: #00325a;
        padding-top: 20px;
      }
      button {
        @media (max-width: 350px) {
          width: 80%;
        }
        margin-top: 20px;
        width: 40%;
        padding: 15px;
        color: white;
        border: none;
        background-color: #226699;
      }
      .but {
        background-color: transparent;
        color: #6da4cd;
        border: 1px solid #6da4cd;
      }
    }
    .right {
      @media (max-width: 350px) {
        order: -2;
        width: 100%;
        position: relative;
        left: 0px;
        top: -80px;
      }
      img {
        width: 100%;
      }
      position: relative;
      left: -80px;
      width: 45%;
    }
  }
  .level2 {
    padding-top: 100px;
    display: flex;
    @media (max-width: 350px) {
      flex-wrap: wrap;
    }
    .left {
      @media (max-width: 350px) {
        width: 100%;
        padding-left: 20px;
      }
      h1 {
        color: #093636;
        font-family: Arial, Helvetica, sans-serif;
        span {
          color: #226699;
        }
      }
      p {
        @media (max-width: 350px) {
          font-size: 15px;
          width: 87%;
        }
        width: 77%;
        padding-top: 20px;
        font-size: 24px;
        font-weight: 100;
        color: #00325a;
        font-family: Arial, Helvetica, sans-serif;
      }
      h2 {
        padding-top: 80px;
        font-family: Arial, Helvetica, sans-serif;
        color: #093636;
      }
      img {
        padding-top: 40px;
      }
      padding-top: 50px;
      padding-left: 50px;
      width: 45%;
      .flex {
        @media (max-width: 350px) {
          position: absolute;
          top: 1300px;
          text-align: center;
          img {
            width: 45%;
          }
        }
      }
    }
    .right {
      @media (max-width: 350px) {
        width: 100%;
        position: relative;
        left: 0;
        top: 50px;
      }
      position: relative;
      left: 85px;
      img {
        width: 100%;
      }
      width: 45%;
    }
  }
  .level3 {
    @media (max-width: 350px) {
      flex-wrap: wrap;
    }
    .left {
      @media (max-width: 350px) {
        width: 100%;
        padding-top: 400px;
      }
      width: 45%;
      img {
        width: 100%;
      }
    }
    display: flex;
    .right {
      @media (max-width: 350px) {
        width: 100%;
        text-align: center;
      }
      padding-left: 50px;
      width: 52%;
      h1 {
        @media (max-width: 350px) {
          font-size: 20px;
          padding-left: 0px;
          margin-left: -50px;
        }
        padding-top: 150px;
        padding-left: 50px;
        font-weight: 400;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        color: #093636;
      }
      p {
        @media (max-width: 350px) {
          font-size: 15px;
          padding-left: 20px;
          width: 100%;
          margin-left: -50px;
        }
        font-size: 25px;
        width: 65%;
        color: #00325a;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 40px;
        padding-left: 50px;
      }
    }
  }
  .level4 {
    .left {
      @media (max-width: 350px) {
        width: 100%;
        h1 {
          font-size: 18px;
          text-align: center;
        }
        p {
          text-align: center;
          font-size: 15px;
          padding-left: 15px;
        }
      }
      img {
        @media (max-width: 350px) {
          display: none;
          width: 100%;
        }
      }

      width: 40%;
      padding-top: 100px;
    }
    .right {
      top: -150px;
      @media (max-width: 350px) {
        top: 0;
        order: -1;
        width: 100%;
        padding-left: 0;
        img {
          width: 100%;
          position: relative;
          left: 0;
        }
      }
      width: 50%;
    }
  }
  .level5 {
    .level6 {
      display: none;
      @media (max-width: 350px) {
        div {
          width: 100%;
          margin-left: 0;
          font-size: 14px;
          position: relative;
          left: -20px;
        }
        p {
          font-size: 12px;
        }
        display: block;
      }
    }
    @media (max-width: 350px) {
      border-radius: 50px;
    }
    background-color: white;
    padding: 50px;
    border-radius: 100px;
    h1 {
      @media (max-width: 350px) {
        font-size: 24px;
        width: 120%;
      }
      font-family: Arial, Helvetica, sans-serif;
      color: #093636;
      span {
        color: #226699;
      }
    }
    .flex {
      @media (max-width: 350px) {
        flex-wrap: wrap;
      }
      justify-content: space-around;
      display: flex;
      div {
        @media (max-width: 350px) {
          width: 100%;
          position: relative;
          left: -40px;
          padding-left: 0;
          img {
            width: 100%;
          }
          p {
            font-size: 10px;
            width: 120%;
          }
          h2 {
            width: 120%;
            font-size: 17px;
          }
        }
        padding-top: 20px;
        width: 25%;
        h2 {
          font-size: 20px;
          color: #093636;
          padding-left: 20px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
        }
        p {
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 400;
          font-size: 14px;
          padding-left: 20px;
          padding-top: 20px;
          line-height: 22px;
        }
      }
    }
  }
  .level6 {
    @media (max-width: 350px) {
      display: none;
    }
    padding-top: 50px;
    div {
      background-color: #226699;
      width: 30%;
      padding: 20px;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      color: white;
      font-weight: 600;
      margin: auto;
      border-radius: 5px;
    }
    p {
      font-size: 20px;
      text-align: center;
      margin-top: 20px;
      color: #434958;
    }
  }
  .level67 {
    h1 {
      @media (max-width: 350px) {
        font-size: 22px;
      }
      position: relative;
      top: 70px;
      padding-left: 50px;
      color: #093636;
      font-size: 40px;
      font-family: Arial, Helvetica, sans-serif;
      span {
        color: #226699;
      }
    }
  }
  .level7 {
    @media (max-width: 350px) {
      flex-direction: column;
    }
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    .left {
      @media (max-width: 350px) {
        width: 100%;
      }
      width: 45%;
      .sec {
        @media (max-width: 350px) {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
        }
        .img {
          padding-left: 20px;
        }
        margin-top: 50px;
        display: flex;
        width: 100%;
        .text {
          padding-left: 20px;
          h1 {
            @media (max-width: 350px) {
              font-size: 20px;
              padding-top: 20px;
            }
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 20px;
          }
          p {
            @media (max-width: 350px) {
              width: 90%;
            }
            width: 70%;
            padding-top: 20px;
            font-size: 16px;
            line-height: 22px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
          }
        }
      }
    }
    .right {
      @media (max-width: 350px) {
        width: 100%;
      }
      width: 45%;
      .sec {
        img {
          @media (max-width: 350px) {
            padding-left: 20px;
          }
        }
        @media (max-width: 350px) {
          flex-wrap: wrap;
        }
        margin-top: 50px;
        display: flex;
        width: 100%;
        .text {
          @media (max-width: 350px) {
            h1 {
              padding-top: 20px;
              font-size: 20px;
            }
          }
          padding-left: 20px;
          h1 {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            font-size: 20px;
          }
          p {
            width: 70%;
            padding-top: 20px;
            font-size: 16px;
            line-height: 22px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
          }
        }
      }
    }
  }
  .level8 {
    @media (max-width: 350px) {
      flex-wrap: wrap;
      height: 100vh;
      width: 00%;
      background-image: none;
      background-image: url(./Foto/Vector.png);
      height: 140vh;
      width: 100%;
    }
    display: flex;
    margin-top: 100px;
    background-image: url(./Foto/background.png);
    height: 70vh;
    .left {
      @media (max-width: 350px) {
        width: 100%;
        padding-left: 0;
      }
      width: 40%;
      padding: 80px;
      padding-left: 150px;
      h1 {
        @media (max-width: 350px) {
          font-size: 18px;
          text-align: center;
          width: 100%;
        }
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: #093636;
        span {
          color: #226699;
        }
      }
      h5 {
        @media (max-width: 350px) {
          font-size: 15px;
          padding-left: 20px;
          width: 120%;
        }
        padding-top: 20px;
        color: #00325a;
        line-height: 22px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
      }
      p {
        @media (max-width:350px) {
          display: none;
        }
        font-size: 18px;
        color: #434958;
        padding-top: 20px;
      }
    }
    .right {
      p{
        display: none;
      }
      @media (max-width: 350px) {
        width: 100%;
        p{
          display: block;
        }
      }
      .img {
        width: 80%;
      }
      width: 50%;
      position: relative;
      top: -70px;
    }
  }
}
