* {
  margin: 0;
  padding: 0;
}

.all {
  background-color: #f9fcff;
}
.all .navbar {
  padding-top: 20px;
  justify-content: space-around;
  display: flex;
}
.all .navbar .logo {
  width: 20%;
}
@media (max-width: 350px) {
  .all .navbar .logo {
    text-align: start;
    margin-left: -50px;
  }
}
.all .navbar ul {
  width: 60%;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}
@media (max-width: 350px) {
  .all .navbar ul {
    display: none;
  }
}
.all .navbar i {
  display: none;
}
@media (max-width: 350px) {
  .all .navbar i {
    display: block;
    padding-top: 10px;
    font-size: 25px;
  }
}
.all .level1 {
  padding-top: 100px;
  justify-content: space-evenly;
  display: flex;
}
@media (max-width: 350px) {
  .all .level1 {
    flex-wrap: wrap;
  }
}
.all .level1 .left {
  padding-left: 50px;
  width: 45%;
}
@media (max-width: 350px) {
  .all .level1 .left {
    width: 100%;
    padding-left: 20px;
  }
}
.all .level1 .left h1 {
  font-size: 40px;
  color: #093636;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 350px) {
  .all .level1 .left h1 {
    font-size: 24px;
    width: 100%;
  }
}
.all .level1 .left h1 span {
  color: #226699;
}
.all .level1 .left p {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #00325a;
  padding-top: 20px;
}
@media (max-width: 350px) {
  .all .level1 .left p {
    font-size: 18px;
    width: 100%;
  }
}
.all .level1 .left button {
  margin-top: 20px;
  width: 40%;
  padding: 15px;
  color: white;
  border: none;
  background-color: #226699;
}
@media (max-width: 350px) {
  .all .level1 .left button {
    width: 80%;
  }
}
.all .level1 .left .but {
  background-color: transparent;
  color: #6da4cd;
  border: 1px solid #6da4cd;
}
.all .level1 .right {
  position: relative;
  left: -80px;
  width: 45%;
}
@media (max-width: 350px) {
  .all .level1 .right {
    order: -2;
    width: 100%;
    position: relative;
    left: 0px;
    top: -80px;
  }
}
.all .level1 .right img {
  width: 100%;
}
.all .level2 {
  padding-top: 100px;
  display: flex;
}
@media (max-width: 350px) {
  .all .level2 {
    flex-wrap: wrap;
  }
}
.all .level2 .left {
  padding-top: 50px;
  padding-left: 50px;
  width: 45%;
}
@media (max-width: 350px) {
  .all .level2 .left {
    width: 100%;
    padding-left: 20px;
  }
}
.all .level2 .left h1 {
  color: #093636;
  font-family: Arial, Helvetica, sans-serif;
}
.all .level2 .left h1 span {
  color: #226699;
}
.all .level2 .left p {
  width: 77%;
  padding-top: 20px;
  font-size: 24px;
  font-weight: 100;
  color: #00325a;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 350px) {
  .all .level2 .left p {
    font-size: 15px;
    width: 87%;
  }
}
.all .level2 .left h2 {
  padding-top: 80px;
  font-family: Arial, Helvetica, sans-serif;
  color: #093636;
}
.all .level2 .left img {
  padding-top: 40px;
}
@media (max-width: 350px) {
  .all .level2 .left .flex {
    position: absolute;
    top: 1300px;
    text-align: center;
  }
  .all .level2 .left .flex img {
    width: 45%;
  }
}
.all .level2 .right {
  position: relative;
  left: 85px;
  width: 45%;
}
@media (max-width: 350px) {
  .all .level2 .right {
    width: 100%;
    position: relative;
    left: 0;
    top: 50px;
  }
}
.all .level2 .right img {
  width: 100%;
}
.all .level3 {
  display: flex;
}
@media (max-width: 350px) {
  .all .level3 {
    flex-wrap: wrap;
  }
}
.all .level3 .left {
  width: 45%;
}
@media (max-width: 350px) {
  .all .level3 .left {
    width: 100%;
    padding-top: 400px;
  }
}
.all .level3 .left img {
  width: 100%;
}
.all .level3 .right {
  padding-left: 50px;
  width: 52%;
}
@media (max-width: 350px) {
  .all .level3 .right {
    width: 100%;
    text-align: center;
  }
}
.all .level3 .right h1 {
  padding-top: 150px;
  padding-left: 50px;
  font-weight: 400;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #093636;
}
@media (max-width: 350px) {
  .all .level3 .right h1 {
    font-size: 20px;
    padding-left: 0px;
    margin-left: -50px;
  }
}
.all .level3 .right p {
  font-size: 25px;
  width: 65%;
  color: #00325a;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 40px;
  padding-left: 50px;
}
@media (max-width: 350px) {
  .all .level3 .right p {
    font-size: 15px;
    padding-left: 20px;
    width: 100%;
    margin-left: -50px;
  }
}
.all .level4 .left {
  width: 40%;
  padding-top: 100px;
}
@media (max-width: 350px) {
  .all .level4 .left {
    width: 100%;
  }
  .all .level4 .left h1 {
    font-size: 18px;
    text-align: center;
  }
  .all .level4 .left p {
    text-align: center;
    font-size: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 350px) {
  .all .level4 .left img {
    display: none;
    width: 100%;
  }
}
.all .level4 .right {
  top: -150px;
  width: 50%;
}
@media (max-width: 350px) {
  .all .level4 .right {
    top: 0;
    order: -1;
    width: 100%;
    padding-left: 0;
  }
  .all .level4 .right img {
    width: 100%;
    position: relative;
    left: 0;
  }
}
.all .level5 {
  background-color: white;
  padding: 50px;
  border-radius: 100px;
}
.all .level5 .level6 {
  display: none;
}
@media (max-width: 350px) {
  .all .level5 .level6 {
    display: block;
  }
  .all .level5 .level6 div {
    width: 100%;
    margin-left: 0;
    font-size: 14px;
    position: relative;
    left: -20px;
  }
  .all .level5 .level6 p {
    font-size: 12px;
  }
}
@media (max-width: 350px) {
  .all .level5 {
    border-radius: 50px;
  }
}
.all .level5 h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #093636;
}
@media (max-width: 350px) {
  .all .level5 h1 {
    font-size: 24px;
    width: 120%;
  }
}
.all .level5 h1 span {
  color: #226699;
}
.all .level5 .flex {
  justify-content: space-around;
  display: flex;
}
@media (max-width: 350px) {
  .all .level5 .flex {
    flex-wrap: wrap;
  }
}
.all .level5 .flex div {
  padding-top: 20px;
  width: 25%;
}
@media (max-width: 350px) {
  .all .level5 .flex div {
    width: 100%;
    position: relative;
    left: -40px;
    padding-left: 0;
  }
  .all .level5 .flex div img {
    width: 100%;
  }
  .all .level5 .flex div p {
    font-size: 10px;
    width: 120%;
  }
  .all .level5 .flex div h2 {
    width: 120%;
    font-size: 17px;
  }
}
.all .level5 .flex div h2 {
  font-size: 20px;
  color: #093636;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.all .level5 .flex div p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 20px;
  line-height: 22px;
}
.all .level6 {
  padding-top: 50px;
}
@media (max-width: 350px) {
  .all .level6 {
    display: none;
  }
}
.all .level6 div {
  background-color: #226699;
  width: 30%;
  padding: 20px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-weight: 600;
  margin: auto;
  border-radius: 5px;
}
.all .level6 p {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: #434958;
}
.all .level67 h1 {
  position: relative;
  top: 70px;
  padding-left: 50px;
  color: #093636;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 350px) {
  .all .level67 h1 {
    font-size: 22px;
  }
}
.all .level67 h1 span {
  color: #226699;
}
.all .level7 {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 350px) {
  .all .level7 {
    flex-direction: column;
  }
}
.all .level7 .left {
  width: 45%;
}
@media (max-width: 350px) {
  .all .level7 .left {
    width: 100%;
  }
}
.all .level7 .left .sec {
  margin-top: 50px;
  display: flex;
  width: 100%;
}
@media (max-width: 350px) {
  .all .level7 .left .sec {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
.all .level7 .left .sec .img {
  padding-left: 20px;
}
.all .level7 .left .sec .text {
  padding-left: 20px;
}
.all .level7 .left .sec .text h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
}
@media (max-width: 350px) {
  .all .level7 .left .sec .text h1 {
    font-size: 20px;
    padding-top: 20px;
  }
}
.all .level7 .left .sec .text p {
  width: 70%;
  padding-top: 20px;
  font-size: 16px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
@media (max-width: 350px) {
  .all .level7 .left .sec .text p {
    width: 90%;
  }
}
.all .level7 .right {
  width: 45%;
}
@media (max-width: 350px) {
  .all .level7 .right {
    width: 100%;
  }
}
.all .level7 .right .sec {
  margin-top: 50px;
  display: flex;
  width: 100%;
}
@media (max-width: 350px) {
  .all .level7 .right .sec img {
    padding-left: 20px;
  }
}
@media (max-width: 350px) {
  .all .level7 .right .sec {
    flex-wrap: wrap;
  }
}
.all .level7 .right .sec .text {
  padding-left: 20px;
}
@media (max-width: 350px) {
  .all .level7 .right .sec .text h1 {
    padding-top: 20px;
    font-size: 20px;
  }
}
.all .level7 .right .sec .text h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
}
.all .level7 .right .sec .text p {
  width: 70%;
  padding-top: 20px;
  font-size: 16px;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.all .level8 {
  display: flex;
  margin-top: 100px;
  background-image: url(./Foto/background.png);
  height: 70vh;
}
@media (max-width: 350px) {
  .all .level8 {
    flex-wrap: wrap;
    height: 100vh;
    width: 0%;
    background-image: none;
    background-image: url(./Foto/Vector.png);
    height: 140vh;
    width: 100%;
  }
}
.all .level8 .left {
  width: 40%;
  padding: 80px;
  padding-left: 150px;
}
@media (max-width: 350px) {
  .all .level8 .left {
    width: 100%;
    padding-left: 0;
  }
}
.all .level8 .left h1 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  color: #093636;
}
@media (max-width: 350px) {
  .all .level8 .left h1 {
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
}
.all .level8 .left h1 span {
  color: #226699;
}
.all .level8 .left h5 {
  padding-top: 20px;
  color: #00325a;
  line-height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
@media (max-width: 350px) {
  .all .level8 .left h5 {
    font-size: 15px;
    padding-left: 20px;
    width: 120%;
  }
}
.all .level8 .left p {
  font-size: 18px;
  color: #434958;
  padding-top: 20px;
}
@media (max-width: 350px) {
  .all .level8 .left p {
    display: none;
  }
}
.all .level8 .right {
  width: 50%;
  position: relative;
  top: -70px;
}
.all .level8 .right p {
  display: none;
}
@media (max-width: 350px) {
  .all .level8 .right {
    width: 100%;
  }
  .all .level8 .right p {
    display: block;
  }
}
.all .level8 .right .img {
  width: 80%;
}/*# sourceMappingURL=style.css.map */